Media/MediaClient/Service References/MediaServiceReference/MediaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediaWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediaWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMyTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MyTable" nillable="true" type="tns:MyTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMyTable" nillable="true" type="tns:ArrayOfMyTable" />
  <xs:complexType name="MyTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vocalist" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyTable" nillable="true" type="tns:MyTable" />
</xs:schema>